@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=Libre+Franklin&family=Lobster+Two&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Serif:ital,wght@1,300&family=Kadwa&family=Noto+Rashi+Hebrew:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
body{
    opacity: 1;
    color: white;
    background-color: rgb(15, 17, 48, 1);
    
}
header{
    background-image: url(Images/fundo_main2.jpg);
    background-size: cover;

    
    position: relative;
    height: 550px;
}
.camada{
    background: linear-gradient(90.14deg, rgba(5, 9, 50, 0.85) 25.86%, rgba(216, 39, 124, 0.77) 98.91%, rgba(234, 16, 173, 0.53) 105.95%);
    height: 550px;
    width: 100%;
    position: absolute;

}
.nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    position: relative;

    background: rgba(23, 21, 22, 0.44);
}
.logo{
    font-family: 'Lobster Two', cursive;
    color: white;
    padding: 30px;
}
.titulo{
    position: absolute;
    left: 100px;
    top: 110px;
    gap: 30px;

    width: 1000px;

    display: flex;
    flex-direction: column;

    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(219, 222, 232);

}
.portifolio_aluna{
    font-size: 25px;
}
.disciplina{
    padding-left: 10px;
    padding-top: 40px;
    padding: 10px;
    font-size: 50px;
}
.curso{
    padding-left: 400px;
    font-size: 30px;
}
.semestre{
    padding-left: 900px;
    font-size: 30px;
}
.botao_acesso{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    width: 100%;
    height: 150px;
    gap:100px;

    top: 300px;
}
.botao_acesso img{
    width: 400px;
}
.botao_acesso button{
    width: 500px;
    height: 60px;

    background: linear-gradient(357.92deg, rgba(33, 32, 32, 0.44) 21.69%, rgba(57, 55, 56, 0.42) 49.94%, rgba(23, 21, 22, 0.58) 112.3%);    color: rgb(233, 233, 233);
    border: none;

    font-size: 30px;

    transition: 0.5s;
}
.botao_acesso button:hover{
    transform: scale(110%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.logo_senai{
    transform: scale(50%);
}
nav li{
    list-style: none;
}
nav li a{
    font-style: none;
    color: white;
}
nav li:hover{
    transform: scale(110%);
    transition: 0.5s;
}
a{
    color: white;
    text-decoration: none;
}
nav ul{
    display: flex;
    color: aliceblue;
    gap: 40px;
    padding: 10px;
}
.titulo_introducao{
    padding-left: 40px;
    padding-bottom: 30px;
}
.titulo h1{
    font-size: 70px;
}
.ancora_sequencia_aprendizado{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    gap: 20px;
    width: 100%;
}
.ancora_sequencia_aprendizado div{
    border-radius: 12px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size:xx-large;

    width: 100%;
    height: 100px;


    color: rgb(0, 190, 243);
    font-weight: 700;
    font-size: 50px;

    transition: 0.5s;
}
.ancora_sequencia_aprendizado div:hover{
    transform: scale(110%);    
}

#introducao, #html, #css{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;


    background: linear-gradient(90.14deg, rgba(5, 9, 50, 0.85) 25.86%, rgba(216, 39, 124, 0.77) 98.91%, rgba(234, 16, 173, 0.53) 105.95%);
}

.titulo_introducao h1{
    font-size: 40px;
}
  
.topicos{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.topicos div{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #D9D9D9;
    color: black;
    font-size: 25px;
    border-radius: 12px;
    height: 50px;
    width: 450px;

    transition: 0.3s;
}
.topicos div:hover{
    transform: scale(105%);
    background: #a8a6a6;
    font-weight: 700;
}
.explicacao_div{
    margin: 30px;
}
.explicacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 42px;


    padding: 40px;
    max-width: 370px;
    height: 300px;
    
    background-color: #D9D9D9;
    
    color:rgb(11, 11, 11);
}
#explicacao_comunicacaoWeb,#explicacao_conceito, #explicacao_ide, #explicacao_github
{
    display: none;
}

/* DIV COMUNICAÇÃO WEB */
#explicacao_comunicacaoWeb img{
    height: 320px;
    border-radius: 32px;
}

/* DIV CONCEITOS TEÓRICOS*/
#explicacao_conceito h1{
    padding-bottom: 10px;
}
.div_conceito{
    display: flex;
    gap: 15px;     
}
.div_conceito figure {
    display: flex;
    align-items: center;
}
.div_conceito figure img{
    width: 100px;
}
#explicacao_conceito p{
    padding-left: 10px;
} 
/* DIV IDE*/
#explicacao_ide{
    justify-content: center;
    gap: 20px;
   
}
#explicacao_ide img{
    width: 140px;
}

/* DIV GIT HUB*/

#explicacao_github figure {
    display: flex;
    align-items: center;
}
#explicacao_github figure img{
    width: 150px;
}

/*Section 2: HTML*/
#html{
    flex-direction: column;
    gap: 30px;
}

.titulo_sessão_html{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.titulo_sessão_html h1{
    font-size: 40px; 
}
.html_conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.html_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.html_conteudo p{
    padding-left: 10px;
}
.projeto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.conteudo_trabalhados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:40px;

    width: 330px;
    padding: 30px;


    border-radius: 50px;
    background-color: #D9D9D9;
    color: #0c042b;
    box-shadow:  20px 10px 60px #210339,
             -20px -10px 60px #0c042b;

    transition: 0.3s;
}
.video_projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.video_projeto div{
    width: 600px;
}
.html_conteiner div video{
    display: flex;
    align-items: center;
    height: 270px;
}

/*Sessão css*/
.secao_header{
    display: flex;
    gap: 90px;
}
.numeracao{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    width: 60px;
    height: 60px;
    background: rgba(249, 149, 0, 0.908897);

    transition: 0.3s;
    rotate: 45deg;

}
.numeracao:hover{
    rotate: 0deg;
}
#css{
    flex-direction: column;
}
.faixa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 200px;
    width: 100%;
    background: #01014a;

    position: relative;
}

.imagem_ilustrativa img{
    width: 600px;
}



