@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=Libre+Franklin&family=Lobster+Two&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
body{
    opacity: 1;
    color: white;
    background-color: rgb(15, 17, 48, 1);
    
}
.header{
    background-image: url(Images/redes/header.png);
    background-size: cover;
    position: relative;
    height: 600px;
}
.camada{
    background: linear-gradient(90.12deg, rgba(1, 2, 9, 0.85) 26.92%, rgba(9, 2, 5, 0.77) 91.39%, rgba(8, 2, 5, 0.772533) 91.4%, rgba(15, 2, 11, 0.53) 99.92%);
    height: 600px;
    width: 100%;
    position: absolute;

}
.nav_logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;

    background: linear-gradient(180deg, rgba(52, 1, 41, 0.44) 0%, rgba(85, 2, 39, 0) 100%);}
.nav_logo  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}
.nav_logo figure img{
    width: 100px;
}
.logo{
    font-family: 'Lobster Two', cursive;
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 30px;
}
.titulo{
    position: absolute;
    top: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(219, 222, 232);
}
.titulo nav{
    padding: 20px;
    display: flex;
    gap: 100px;
    justify-content:end;

}
.titulo nav figure img{
    width: 200px;
}
.titulo h1{
    font-size: 70px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-size: 20px;
    gap: 80px;
    padding: 10px;
}
nav li{
    list-style: none;
}
nav li a{
    font-style: none;
    font-weight: 600;
    color: white;
}
nav li:hover{
    transform: scale(110%);
    transition: 0.5s;
}
a{
    color: white;
    text-decoration: none;
}
.sumario{
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: start;
    padding-left: 400px;
    gap: 5px;
    transition: 0.5s;
}
.sumario:hover{
    opacity: 1;
}
.sumario li a {
    font-size: 25px;
    font-weight: 400;
}
.sumario li:hover{
    transform: scale(100%);
    translate: -10px;
}

/*Estilização generalizada das seções*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 10px;
    background: linear-gradient(90.14deg, #170744 6.72%, rgba(91, 8, 60, 0.89334) 48.58%, rgba(111, 9, 61, 0.865867) 56.85%, rgba(20, 3, 68, 0.85456) 86.82%, rgba(1, 0, 52, 0.85) 98.91%, rgba(255, 0, 153, 0.53) 105.95%, rgba(3, 0, 133, 0.53) 105.95%);}
section header{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.numeracao{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    width: 50px;
    height: 50px;
    background: rgba(249, 149, 0, 0.908897);

    transition: 0.3s;
    rotate: 45deg;
}
.numeracao:hover{
    rotate: 0deg;
}
section header h1{
    font-size: 40px;
}
details summary{
    cursor: pointer;
}

/*Redes de Computadores - Conceitos */
#modelo_osi{
    gap: 20px;

}
.body_modelo_osi{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}
.descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 250px;
    width: 600px;
    padding: 10px;

    color: black;
    background-color: rgb(229, 235, 241);
    border-radius: 20px;
}
.descricao h1{
    font-size: 30px;
}
.explicacao_osi{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 20px;
    width: 400px;
}
.explicacao_osi h1{
    font-size: 30px;
}
.camadas_osi{
    text-align: center;
    padding: 10px;
    font-weight: 700;

    background-color: rgb(248, 245, 241);
    color: black;
    box-shadow: 1px 1px 10px rgb(29, 29, 29);
    transition: 0.3s; 
}
.conteudo_modelo_osi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

/*Tópicos de modelo */