@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=Libre+Franklin&family=Lobster+Two&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Serif:ital,wght@1,300&family=Kadwa&family=Noto+Rashi+Hebrew:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    opacity: 1;
    color: white;
    background-color: rgb(15, 17, 48, 1);
    
}
header{
    height: 550px;
    background: linear-gradient(90.14deg,rgba(32, 3, 33, 0.822) 26.9%,rgba(1, 1, 38, 0.934) 98.91%);

}
.nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    position: fixed;
}
.logo{
    font-family: 'Lobster Two', cursive;
    color: white;
    padding: 30px;
}
nav li{
    list-style: none;
}
nav li a{
    font-style: none;
    color: white;
}
nav li:hover{
    transform: scale(110%);
    transition: 0.5s;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav ul{
    display: flex;
    color: aliceblue;
    gap: 40px;
    padding: 10px;
}
.apresentacao{
    gap: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(219, 222, 232);
}
.identificacao{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.descricao{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#perfil{
    box-shadow: 20px 4px 20px rgba(0, 0, 0, 0.75);
    border-radius: 369px;
}
.buttons_acesso{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50px;
}
.buttons_acesso button, .buttons{
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 15px;

    --pink: #b783f8;
    color: var(--pink);
    border: 2px solid var(--pink);
    background: linear-gradient(to right, rgba(253, 27, 242, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 27, 215, 0.1) 100%);

    transition: all 0.3s;
}
.buttons_acesso button:hover, .buttons:hover{
    transform: scale(110%);
    box-shadow: inset 0 0 10px rgba(253, 27, 136, 0.4), 0 0 9px 3px rgba(253, 27, 144, 0.1);


}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    color: azure;
    font-size: 17px;
    background: linear-gradient(90.14deg,rgba(32, 3, 33, 0.822) 26.9%,rgba(1, 1, 38, 0.934) 98.91%);

}
section h1{
    font-size: 50px;
}
main{
    height: auto;
}


/*Seção Sobre Mim*/
#sobremim{
    gap: 10px;
}
#sobremim h1{
    font-size: 50px;
}
.informacao_sobre_mim{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
}
#sobremim:hover .informacao_sobre_mim{
    opacity: 1;
}
.texto_sobre_mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 30px;
}
.cartoes_informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ferramentas_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    gap: 10px;

    color: var(--pink);
    --pink: #b783f8;
    border: 2px solid var(--pink);
    border-radius: 20px;
    box-shadow:  1px 2px 10px  rgba(91, 3, 87, 0.765);
    padding: 10px;
}
.ferramentas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    
}
.ferramentas img{
    width: 30px;
}
.contato img{
    width: 90px;

}




/*Portfólio Faculdade*/
#portfolioFaculdade{
    flex-direction: row;
    justify-content: space-evenly;
}
.titulo_cc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding-top: 50px;
    height: 150px;
    font-size: 20px;
    width: 500px;
   
}
.cc{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;

    font-size: 23px;
    font-weight: 500;

    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    
    background: linear-gradient(89.91deg, #41055f 9.85%, rgba(100, 2, 87, 0.909) 47.87%, rgba(41, 1, 53, 0.237) 103.06%);  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    color: rgb(255, 254, 254);
    transition: 0.5s;
}
.cc:hover{
    translate:10px;
    border: 1px solid  #b783f8;
    background: linear-gradient(to right, rgba(253, 27, 242, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 27, 215, 0.1) 100%);
    color:  #b783f8;
    font-weight: 500;
    box-shadow: inset 0 0 10px rgba(174, 27, 253, 0.4), 0 0 9px 3px rgba(253, 27, 144, 0.1);

}
footer{
    height: 180px;
    background-color: #2e0352;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}