@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=Libre+Franklin&family=Lobster+Two&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
body{
    opacity: 1;
    color: white;
    background-color: rgb(15, 17, 48, 1);
    
}
.header{
    background-image: url(Images/header/fundo_AI.png);
    background-size: cover;
    position: relative;
    height: 600px;
}
.camada{
    background: linear-gradient(90.12deg, rgba(1, 2, 9, 0.85) 26.92%, rgba(9, 2, 5, 0.77) 91.39%, rgba(8, 2, 5, 0.772533) 91.4%, rgba(15, 2, 11, 0.53) 99.92%);
    height: 600px;
    width: 100%;
    position: absolute;

}
.nav_logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 700px;
    height: 70px;
    width: 100%;
    position: relative;

    background: linear-gradient(180deg, rgba(52, 1, 41, 0.44) 0%, rgba(85, 2, 39, 0) 100%);}
.nav_logo  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}
.nav_logo figure img{
    width: 100px;
}
.logo{
    font-family: 'Lobster Two', cursive;
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 30px;
}
.titulo{
    position: absolute;
    top: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(219, 222, 232);
}
.titulo nav{
    padding: 20px;
    display: flex;
    gap: 100px;
    justify-content:end;

}
.titulo nav figure img{
    width: 200px;
}
.titulo h1{
    font-size: 70px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-size: 20px;
    gap: 80px;
    padding: 10px;
}
nav li{
    list-style: none;
}
nav li a{
    font-style: none;
    font-weight: 600;
    color: white;
}
nav li:hover{
    transform: scale(110%);
    transition: 0.5s;
}
a{
    color: white;
    text-decoration: none;
}
.sumario{
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: start;
    padding-left: 400px;
    gap: 5px;
    transition: 0.5s;
}
.sumario:hover{
    opacity: 1;
}
.sumario li a {
    font-size: 25px;
    font-weight: 400;
}
.sumario li:hover{
    transform: scale(100%);
    translate: -10px;
}

/*Estilização generalizada das seções*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 10px;
    background: linear-gradient(90.14deg, #080E40 13.96%, rgba(83, 3, 42, 0.77) 98.91%, rgba(54, 9, 42, 0.53) 105.95%);
}
section header{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.numeracao{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    width: 50px;
    height: 50px;
    background: rgba(249, 149, 0, 0.908897);

    transition: 0.3s;
    rotate: 45deg;
}
.numeracao:hover{
    rotate: 0deg;
}
section header h1{
    font-size: 40px;
}
details summary{
    cursor: pointer;
}


/*Seção: Conceitos Instrodutórios*/
#conceitos_introdutorios{
    gap: 20px;
}
#conceitos_introdutorios header{
    flex-direction: column;
    gap: 5px;
}
.header_opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner_assuntos_introdutorios{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80%;
}
.assuntos, .assuntos_robotica{
    text-align: center;
    padding: 10px;
    font-weight: 700;

    background-color: rgb(248, 245, 241);
    color: black;
    box-shadow: 1px 1px 10px rgb(29, 29, 29);
    transition: 0.3s; 
}
.assuntos:hover, .assuntos_robotica:hover{
    transform: scale(110%);
    background-color: rgb(201, 200, 199);

}
.descricao_conceitos_introdutorios{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descricao{
    display: none;
    justify-content: center;
    align-items: start;

    width: 800px;
    height: 350px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
#imagem_inicio{
    display: flex;
    width: 700px;
}
.revolucao_industrial{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.revolucao_industrial img{
    width: 600px;
    border-radius: 20px;
}
.conceitos_eletricidade,.hardware_software{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 300px;
    width: 300px;
    border: 1.2px dotted #430056;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(192, 214, 216);
    color: rgb(8, 2, 43);
    transition: 0.5s ease;
}
.conceitos_eletricidade:hover, .hardware_software:hover{
    box-shadow: 1px 4px 16px rgb(2, 7, 69);
    transform: scale(105%);
}
#conceitos_eletricidade_div, #hardware_software_div{
    gap: 30px;
    width: 1100px;
    background: transparent;
}
.conceitos_eletricidade figure img{
    width: 150px;
    border-radius: 20px;
}
#outros_conteudos{
    width: 500px;
}
#tensao{
    width: 60px;
}
.hardware_software{
    background-color: rgb(247, 219, 239);
    height: auto;
    max-height:300px ;
}

/*Seção Portas lógicas*/
#porta_logica{
    gap: 100px;
    padding: 0;
}
#porta_logica article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.faixa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;
    height: 300px;
    background-color: #05092d;
}
.conteudos_porta_logica{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.descricao_portas_logicas{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(221, 227, 232);
    color: black;
    height: 350px;
    width: 600px;
    padding: 10px;

    border-radius: 20px;
}
.descricao_portas_logicas h1{
    font-size: 30px;
}
.descricao_portas_logicas figure img{
    width: 600px;
}
.conteiner_descricao_conceitos_pl{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.conteiner_descricao_conceitos_pl article{
    flex-direction: column;
    width: 100px;
} 
.conteiner_descricao_conceitos_pl figure img{
    width:200px;
}
#porta_logico_conceito{
    display: flex;
}
#bits{
    gap: 20px;
}

#bits div{
    width: 550px;

}

/*Seção Introdução a Microcontroladores*/
#microcontroladores{
    flex-direction: row;
    justify-content:space-between;
}
#microcontroladores header{
    flex-direction: column;
}
#microcontroladores header img{
    width: 500px;
    padding-left: 50px;
    transition: 0.3s ease;
}
#microcontroladores header img:hover{
  transform: scale(105%);
}
#microcontroladores header hr{
    width: 130%;
    border: 2px solid white;
}
#microcontroladores header h1{
    font-size: 60px;
    padding-left:20px;
}
#microcontroladores figure img{
    width: 600px;
}

/*Seção Assuntos de Microcontroladores*/
#microcontroladores_conceitos{
    gap: 40px;
}
.conteiner_descricao_mc_assuntos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.conteiner_opcoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.descricao_mc_assuntos{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 500px;
    gap: 10px;

    background-color: aliceblue;
    color: #05092d;
    border-radius: 20px;
    padding: 20px;
}
.descricao_mc_assuntos h1{
    font-size: 30px;
}
.descricao_mc_assuntos img{
    width: 600px;
}
#entradas_saidas{
    display: flex;
    background: transparent;
}
#arduino{
    flex-direction: row;
}
#arduino figure img{
    width: 200px;
}

/*Robótica*/
#robotica{
    flex-direction: row;
    justify-content:space-between;
    padding: 0;
}
#robotica header{
    flex-direction: column;
}
#robotica header hr{
    border: 2px solid rgb(241, 241, 241);
    width: 200%;
}
#robotica header h1{
    font-size: 70px;
    padding-left: 30px;
}

/*História robótica*/
#historia_robotica{
    gap: 50px;
}
.conteiner_historia{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.historia_robotica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 300px;
    padding: 20px;
    gap: 10px;

    background-color: rgb(230, 230, 231);
    color: #05092d;
    border-radius: 0px 10px 0px 10px;
}
.historia_robotica h1{
    font-size: 30px;
}
.historia_robotica ul{
    text-align: start;
    font-weight: 600;
    font-size: 18px;
}
.historia_robotica figure img{
    width: 200px;
}
.historia_robotica div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#eu_robo{
    width: 80px;
}

/*Classificação de robos*/
#mobilidade{
    display: flex;
}
#classificacao_robos{
    gap:20px;
}
.assuntos_robotica{
    border-radius: 10px;
    width: 50px;
}
.categorias_classificacao{
    display: none;
    align-items: center;
    flex-direction: column;

    height: 350px;
    width: 800px;
    padding: 15px;
    border-radius: 0px 10px 0px 10px;
    gap: 20px;

    color:#ffffff;
}
.categorias_classificacao h1{
    font-size: 30px;
}
.conteiner_categorias{
    display: flex;
    gap: 20px;
}
.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 320px;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: #d4e6f5;
    color: #05092d;
}
#drone{
    width: 200px;
}
#humanoide{
    width: 100px;
}

/*Seção Braços Robóticas*/
#bracos_roboticos{
    height: 1500px;
}
.explicacao_braco_robotica{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
}
.explicacao_braco_robotica article{
    padding: 10px;
    width: 500px;
    font-size: 20px;
}
.explicacao_braco_robotica article h1{
    font-size: 30px;
}
.imagem_explicacao{
    position: relative;
}
.juntas_elos_explicacao{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    padding: 10px;
    width: 600px;
} 
.imagem_explicacao:hover .juntas_elos_explicacao{
    opacity: 1;
}

/*Seção Movimentação Robótica*/
#movimentacao_robotica{
    gap: 30px;
}
.conceitos_tecnicos_movimentacao{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

   background-color: #ffffff; 
   border-radius: 12px;
   padding: 20px;
   width: 400px;
   
}
#linguagem_mit {
    gap: 10px;
}
#linguagem_mit ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#trajetorias, #velocidade_aceleracao{
    background: transparent;
    align-items: start;

}
#trajetorias img{
    width: 400px ;
}
#img_def{
    width: 230px;
}
.img_codigo{
    display: flex;
    gap: 10px;
}
#img_fim{
    height: 100px;
    width: 230px;
}